.AboutMe {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 6.4rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: rgba(255, 255, 255, 0.8);
}

.profile-picture {
  border: 2px solid #a3b18a;
  border-radius: 50%;
  justify-self: end;
  overflow: hidden;
}

.profile-picture img {
  width: 42rem;
  height: 42rem;
}

.profile-text-container {
  justify-self: start;
}

.profile-heading {
  font-size: 7.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  /* color: #f2f6ec; */
  color: #eeffd0;
  margin-bottom: 3.2rem;
}

.profile-icon {
  color: #a3b18a;
  /* font-size: 3.2rem; */
  /* display: inline; */
  margin-right: 1.2rem;
}

.profile-text {
  font-size: 1.6rem;
  color: #ecf1e3;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.fa-quote-left {
}

.profile-btn {
  background-color: #d16014;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 9px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: all ease-in 0.2s;
}
.profile-btn:hover {
  background-color: #bc5612;
}

/* .fa-quote-right {
  margin-left: 0.6rem;
} */

/* @media (max-width: 767.98px) {
  .AboutMe {
    flex-direction: column;
    top: 50%;
  }

  .profile-picture {
    margin-right: 0px;
  }

  .profile-picture img {
    height: 220px;
    width: 220px;
  }

  .profile-text {
    font-size: 0.8rem;
    width: 80vw;
  }
} */
