.AboutMe {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 6.4rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: rgba(255, 255, 255, 0.8);
}

.profile-picture {
  justify-self: end;
}

.profile-picture img {
  border: 2px solid #a3b18a;
  width: 25rem;
  height: 25rem;
}

.profile-text-container {
  justify-self: start;
}

.profile-heading {
  font-size: 7.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ebedec;
  margin-bottom: 3.2rem;
}

.profile-icon {
  color: #a3b18a;
  /* font-size: 3.2rem; */
  /* display: inline; */
  margin-right: 1.6rem;
}

.profile-text {
  font-size: 1.8rem;
  color: #ebedec;
  line-height: 1.6;
}

.fa-quote-left {
}

/* .fa-quote-right {
  margin-left: 0.6rem;
} */

/* @media (max-width: 767.98px) {
  .AboutMe {
    flex-direction: column;
    top: 50%;
  }

  .profile-picture {
    margin-right: 0px;
  }

  .profile-picture img {
    height: 220px;
    width: 220px;
  }

  .profile-text {
    font-size: 0.8rem;
    width: 80vw;
  }
} */
