.AboutMe {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 6.4rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: rgba(255, 255, 255, 0.8);
}

.profile-picture {
  border: 2px solid #a3b18a;
  border-radius: 50%;
  justify-self: end;
  overflow: hidden;
}

.profile-picture img {
  width: 42rem;
  height: 42rem;
}

.profile-text-container {
  justify-self: start;
}

.profile-heading {
  font-size: 7.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #eeffd0;
  margin-bottom: 2.4rem;
}

.profile-icon {
  color: #a3b18a;
  /* font-size: 3.2rem; */
  /* display: inline; */
  margin-right: 1.2rem;
}

.profile-text {
  max-width: 50rem;
  font-size: 1.6rem;
  /* color: #ecf1e3; */
  color: #eaeceb;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.fa-quote-left {
}

.profile-btn {
  background-color: #d16014;
  /* background-color: #a74d10; */
  color: #fff;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 9px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: all ease-in 0.2s;
}
.profile-btn:hover {
  background-color: #d6702c;
}

/* @media (max-width: 767.98px) {
  .AboutMe {
    flex-direction: column;
    top: 50%;
  }

  .profile-picture {
    margin-right: 0px;
  }

  .profile-picture img {
    height: 220px;
    width: 220px;
  }

  .profile-text {
    font-size: 0.8rem;
    width: 80vw;
  }
} */

/* *********************************** */
/* BELOW 1130px (Landscape Tablets) */
/* *********************************** */

@media (max-width: 71em) {
  .profile-picture img {
    width: 36rem;
    height: 36rem;
  }

  .profile-heading {
    font-size: 6.2rem;
  }

  .project-image {
    width: 24rem;
  }
  img {
    width: 24rem;
    height: 24rem;
  }
}

/* *********************************** */
/* BELOW 975px (Tablets) */
/* *********************************** */

@media (max-width: 61em) {
  .profile-picture img {
    width: 24rem;
    height: 24rem;
  }

  .profile-heading {
    font-size: 5.2rem;
  }

  .project-image {
    width: 24rem;
  }
  img {
    width: 24rem;
    height: 24rem;
  }
}

/* *********************************** */
/* BELOW 827px (Small Tablets) */
/* *********************************** */
@media (max-width: 52em) {
  .AboutMe {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    row-gap: 3rem;
  }

  .profile-picture {
    justify-self: center;
  }

  .profile-text-container {
    justify-self: center;
    text-align: center;
  }

  .profile-heading {
    margin-bottom: 1.6rem;
  }

  .profile-btn {
    padding: 1.2rem 2.4rem;
  }

  .profile-text {
    margin-bottom: 3.2rem;
  }
}

/* *********************************** */
/* BELOW 500px (Mobile) */
/* *********************************** */

@media (max-width: 32em) {
  .AboutMe {
    grid-template-rows: 1fr 1.7fr;
    /* gap: 0; */
    margin-top: 1.6rem;
  }
  .profile-picture img {
    width: 18rem;
    height: 18rem;
  }

  .project-image {
    width: 24rem;
  }
  img {
    width: 18rem;
    height: 18rem;
  }

  .profile-heading {
    font-size: 4.4rem;
    margin-bottom: 1.6rem;
  }

  .profile-btn {
    padding: 1.2rem 2.4rem;
  }

  .profile-text-container {
    align-self: start;
  }

  .profile-text {
    margin-bottom: 3.2rem;
    font-size: 1.2rem;
  }
}

/* *********************************** */
/* BELOW 375px (Small Mobile) */
/* *********************************** */

@media (max-width: 24em) {
  .AboutMe {
    row-gap: 1.2rem;
    margin-top: 3.6rem;
  }
  .profile-heading {
    font-size: 3.6rem;
  }
  .profile-btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }
  .profile-text {
    margin-bottom: 2.4rem;
  }
}
