.Footer {
  color: #a3b18a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 3.6rem;
  row-gap: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
}

.Footer i {
  font-size: 3.2rem;
  font-weight: normal;
}

.copyright {
  font-size: 1rem;
  text-align: center;
  grid-column: 1/-1;
}
