.NavBar {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  padding: 3.2rem 9.8rem;
}

.NavBar-link {
}

.active-link {
  color: #eaeceb;
  border-bottom: 1px solid #eaeceb;
}

a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #c8d0b9;
  text-decoration: none;
  transition: all ease-in 0.3s;
}

a:hover {
  color: #e3e8dc;
}

/* *********************************** */
/* BELOW 500px (Mobile) */
/* *********************************** */

@media (max-width: 32em) {
  .NavBar {
    justify-content: center;
  }

  a {
    font-size: 1.6rem;
  }
}
