.Project {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
}

.project-description {
  font-size: 0.9rem;
  margin-left: 2rem;
  max-width: 650px;
}

.project-description-title {
  color: #a3b18a;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
}

.project-description-title a {
  color: #c0d1a2;
}
.project-description-title a:hover {
  color: #eeffd0;
}

.project-description-techstack {
  font-size: 0.9rem;
}

img {
  border: 2px solid #a3b18a;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  box-shadow: inset -1px 3px 8px 5px #344e41,
    2px 5px 16px 0px rgba(0, 0, 0, 0.4), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media (max-width: 767.98px) {
  .Project {
    margin-top: 0px;
    flex-direction: column;
  }

  .project-description-title {
    font-size: 1rem;
    margin-top: 30px;
  }

  .project-description {
    font-size: 0.8rem;
    width: 80vw;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}
