.Project {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
}

.project-description {
  margin-left: 2rem;
  max-width: 650px;
}

.project-description-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
}

img {
  border: 2px solid #a3b18a;
  border-radius: 50%;
  box-shadow: inset -1px 3px 8px 5px #344e41,
    2px 5px 16px 0px rgba(0, 0, 0, 0.4), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
