.Project {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
}

.project-description {
  margin-left: 2rem;
  max-width: 650px;
}

img {
  border: 2px solid #a3b18a;
  border-radius: 50%;
}
